#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: rgb(224 255 22);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  top: 0;
}
@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
